.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f8f8;

  @media screen and (max-width: 768px) {
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }

  .alligator {
    background-image: url('../../assets/alligator 1.png');
  }

  .gold {
    background-image: url('../../assets/gold 2.png');
    padding: 2rem 0;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6rem;
    flex-wrap: wrap;
    text-align: end;

    @media screen and (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    .text {
        color: #fff;
      h1 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
        max-width: 516px;
      }
      button {
        padding: 12px 1.75rem;
        margin: 1rem 0 2rem 0;
        color: #042d4f;
        background-color: #DDEDFF;
        border: none;
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-weight: 900;
        border-radius: 4px;
      }
    }

    img {
      max-width: 588px;
    }
  }
}
