.top {
  display: flex;
  flex-direction: column;

  .top__content {
    width: 300px;

    margin-left: 4rem;
    @media screen and (max-width: 768px) {
        margin: 0;
        padding: 12px;
    }

    button {
        width: 80%;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #f1f1f1;
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s;
    
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
  }

  .bottom__content {
    display: flex;

    margin-left: 4rem;
    @media screen and (max-width: 768px) {
        margin: 0;
        padding: 12px;
      flex-direction: column;
    }

    .car__icon {
        max-width: 800px;
        height: auto;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .content__list {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            margin-top: 1rem;
            
            align-items: center;
            justify-content: center;
        }
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    

        li {
          border-radius: 5px;
          display: flex;
          display: flex;
          align-items: center;

          img {
            object-fit: cover;      
            width: 30px;
            height: auto;
          }

          p {
            font-size: 1rem;
            font-weight: 400;
          }

          
        }
      }
    }
  }
}
